<h1>Editing Course</h1>

<%= render 'form' %>
<div class="btn btn-group">
<%= link_to 'Show', @course, class: "btn btn-success" %> 
<%= link_to 'Back', courses_path, class: "btn btn-primary" %>

</div>